# Module 1 Final Project


## Introduction

In this lesson, we'll review all of the guidelines and specifications for the final project for Module 1. 

## Objectives
You will be able to:
* Describe all required aspects of the final project for Module 1
* Describe all required deliverables
* Describe what constitutes a successful project
* Describe what the experience of the project review should be like

## Final Project Summary

It's time to put all our newfound data science skills to use with a final project!

You should expect this project to take **20-25 hours** of solid, focused effort.

If you're done way quicker, go back and dig in deeper or try some of the optional "level up" suggestions. If you're worried that you're going to get to 30 hrs and still not even have the data imported, reach out to an instructor in Slack ASAP to get some help!

## Your  Data

* `"kc_house_data.csv"`
    * King County House Sales dataset. We've modified the dataset to make it a bit more fun and challenging. 

* `"column_names.md"`
    * The description of the column names. As with most real world data sets, the column names are not perfectly described, so you'll have to do some research or use your best judgment if you have questions relating to what the data means.

You'll clean, explore, and model this dataset with a multivariate linear regression to predict the sale price of houses as accurately as possible.

## The Deliverables

There will be three deliverables for this project:

1. A well documented **Jupyter Notebook** containing any code you've written for this project and comments explaining it. This work will need to be pushed to your GitHub repository in order to submit your project.

2. A short **Keynote/PowerPoint/Google Slides presentation** (delivered as a PDF export) giving a high-level overview of your methodology and recommendations for **non-technical** stakeholders. Make sure to also add and commit this pdf of your non-technical presentation to your repository with a file name of presentation.pdf.

3. A **Live Demo** of your non-technical presentation. You will have an opportunity to practice and get feedback the day before the final presentation so that you grow more confident on your speaking skills.

## The Process

### 1. Getting Started

Please start by reviewing this document. If you have any questions, please ask them in slack ASAP so (a) we can answer the questions and (b) so we can update this repository to make it clearer.

### 2. The Project Review

> **When you start on the project, please also reach out to an instructor immediately to schedule your project review** (if you're not sure who to schedule with, please ask in slack!)


#### 1. Deliver your PDF presentation to a non-technical stakeholder. 
In this phase of the review (~10 mins) your instructor will play the part of a non-technical stakeholder that you are presenting your findings to. The presentation should not exceed 5 minutes, giving the "stakeholder" 5 minutes to ask questions.

In the first half of the presentation (2-3 mins), you should summarize your methodology in a way that will be comprehensible to someone with no background in data science and that will increase their confidence in you and your findings. In the second half (the remaining 2-3 mins) you should summarize your findings and be ready to answer a couple of non-technical questions from the audience. The questions might relate to technical topics (sampling bias, confidence, etc) but will be asked in a non-technical way and need to be answered in a way that does not assume a background in statistics or machine learning. You can assume a smart, business stakeholder, with a non-quantitative college degree.

#### 2. Go through the Jupyter Notebook, answering questions about how you made certain decisions. Be ready to explain things like:
    * "how did you pick the question(s) that you did?"
    * "why are these questions important from a business perspective?"
    * "how did you decide on the data cleaning options you performed?"
    * "why did you choose a given method or library?"
    * "why did you select those visualizations and what did you learn from each of them?"
    * "why did you pick those features as predictors?"
    * "how would you interpret the results?"
    * "how confident are you in the predictive quality of the results?"
    * "what are some of the things that could cause the results to be wrong?"

What won't happen:
* You won't be yelled at, belittled, or scolded
* You won't be put on the spot without support
* There's nothing you can do to instantly fail or blow it

**Please note: We need to receive the URL of your repository at least 24 hours before and please have the project finished at least 3 hours before your review so we can look at your materials in advance.**

## Requirements

This section outlines the rubric we'll use to evaluate your project.

### 1. Technical Report Must-Haves

For this project, your Jupyter Notebook should meet the following specifications:

#### Organization/Code Cleanliness

* The notebook should be well organized, easy to follow,  and code should be commented where appropriate.
    * Your notebook should contain 1 - 2 paragraphs briefly explaining your general approach to this project as an intro.
    * **Level Up**: The notebook contains well-formatted, professional looking markdown cells explaining any substantial code.  All functions have docstrings that act as professional-quality documentation
    
* The notebook is written for technical audiences with a way to both understand your approach and reproduce your results. The target audience for this deliverable is other data scientists looking to validate your findings.

#### Visualizations & EDA
 
* You pose at least 3 meaningful questions and answer them through EDA.  These questions should be well labeled and easy to identify inside the notebook. 
    * **Level Up**: Each question is clearly answered with a visualization that makes the answer easy to understand. 
* Your project contains at least 4 meaningful data **visualizations**, with corresponding interpretations. All visualizations are well labeled with axes labels, a title, and a legend (when appropriate) 
    
#### Model Quality/Approach

* Your notebook shows an **iterative approach** to modeling, and details the parameters and results of the model at each iteration.  
    * **Level Up**: Whenever necessary, you briefly explain the changes made from one iteration to the next, and why you made these choices.  


* Your **final model**
    * You pick at least 3 coefficients from your final model and explain their impact on the price of a house in this dataset.
        * Your model should not include any predictors with p-values greater than .05.
    * You explain your rationale for selecting your model (not just the learner, also the parameters and variables)
        * Minimum 1 paragraph



### 2. Non-Technical Presentation Must-Haves

The second deliverable should be a Keynote, PowerPoint or Google Slides presentation delivered as a pdf file in your fork of this repository with the file name of `presentation.pdf` detailing the results of your project.  Your target audience is non-technical people interested in using your findings to maximize their profit when selling their home. 

Your presentation should:
* Content:
   * _Based on the results of your models, your presentation should discuss at least two concrete features that highly influence housing prices._
* Format:
    * Contain between 5 - 10 professional-quality slides.
        * **Level Up**: The slides should use visualizations whenever possible, and avoid walls of text.
        * Avoid technical jargon and explain the results in a clear, actionable way for non-technical audiences.   
    * Take no more than 5 minutes to present.   


## Submitting your Project

 You’re almost done! In order to submit your project for review, include the following links to your work in the corresponding fields on the right-hand side of Learn.

 1. **GitHub Repo:**
    - Start a git repo for your project at the very beginning and added it to this 
         [sheet](https://docs.google.com/spreadsheets/d/1PMKPCBfwh1v7HyeWC6AtIwAJsk1BsC7r5iyKy9C2Glo/edit#gid=0)
    - Keep committing and pushing your work so that you don't lose it!

2. **Tell us about your progress!**
    - Check the boxes in the [sheet](https://docs.google.com/spreadsheets/d/1PMKPCBfwh1v7HyeWC6AtIwAJsk1BsC7r5iyKy9C2Glo/edit#gid=0) when each of the following is ready:
    
        - Your **jupyter notebook** is finished and pushed to the repo
        - Your **slides** are PDFed and pushed to your repo
        - You are ready for your **dry run**

## Summary

The end of module projects and project reviews are a critical part of the programme. They give you a chance to both bring together all the skills you've learned into realistic projects and to practice key "business judgement" and communication skills that you otherwise might not get as much practice with.

The projects are serious and important. They are not graded, but they can be passed and they can be failed. Take the project seriously, put the time in, ask for help from your peers or instructors early and often if you need it, and treat the review as a job interview and you'll do great. We're rooting for you to succeed and we're only going to ask you to take a review again if we believe that you need to. We'll also provide open and honest feedback so you can improve as quickly and efficiently as possible.

Finally, this is your first project. We don't expect you to remember all of the terms or to get all of the answers right. If in doubt, be honest. If you don't know something, say so. If you can't remember it, just say so. It's very unusual for someone to complete a project review without being asked a question they're unsure of, we know you might be nervous which may affect your performance. Just be as honest, precise and focused as you can be, and you'll do great!

In [45]:
import pandas as pd
import numpy as np
import math
pd.set_option('display.precision', 3)

In [10]:
house_df = pd.read_csv('kc_house_data.csv')
house_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.511,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.721,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.738,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.521,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.617,-122.045,1800,7503

In [11]:
house_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
id               21597 non-null int64
date             21597 non-null object
price            21597 non-null float64
bedrooms         21597 non-null int64
bathrooms        21597 non-null float64
sqft_living      21597 non-null int64
sqft_lot         21597 non-null int64
floors           21597 non-null float64
waterfront       19221 non-null float64
view             21534 non-null float64
condition        21597 non-null int64
grade            21597 non-null int64
sqft_above       21597 non-null int64
sqft_basement    21597 non-null object
yr_built         21597 non-null int64
yr_renovated     17755 non-null float64
zipcode          21597 non-null int64
lat              21597 non-null float64
long             21597 non-null float64
sqft_living15    21597 non-null int64
sqft_lot15       21597 non-null int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

In [14]:
house_df.describe().round(2)

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.160e+04,2.160e+04,21597.00,21597.00,21597.00,2.160e+04,21597.00,19221.00,21534.00,21597.00,21597.00,21597.00,21597.00,17755.00,21597.00,21597.00,21597.00,21597.00,21597.00
mean,4.580e+09,5.403e+05,3.37,2.12,2080.32,1.510e+04,1.49,0.01,0.23,3.41,7.66,1788.60,1971.00,83.64,98077.95,47.56,-122.21,1986.62,12758.28
std,2.877e+09,3.674e+05,0.93,0.77,918.11,4.141e+04,0.54,0.09,0.77,0.65,1.17,827.76,29.38,399.95,53.51,0.14,0.14,685.23,27274.44
min,1.000e+06,7.800e+04,1.00,0.50,370.00,5.200e+02,1.00,0.00,0.00,1.00,3.00,370.00,1900.00,0.00,98001.00,47.16,-122.52,399.00,651.00
25%,2.123e+09,3.220e+05,3.00,1.75,1430.00,5.040e+03,1.00,0.00,0.00,3.00,7.00,1190.00,1951.00,0.00,98033.00,47.47,-122.33,1490.00,5100.00
50%,3.905e+09,4.500e+05,3.00,2.25,1910.00,7.618e+03,1.50,0.00,0.00,3.00,7.00,1560.00,1975.00,0.00,98065.00,47.57,-122.23,1840.00,7620.00
75%,7.309e+09,6.450e+05,4.00,2.50,2550.00,1.068e+04,2.00,0.00,0.00,4.00,8.00,2210.00,1997.00,0.00,98118.00,47.68,-122.12,2360.00,10083.00
max,9.900e+09,7.700e+06,33.00,8.00,13540.00,1.651e+06,3.50,1.00,4.00,5.00,13.00,9410.00,2015.00,2015.00,98199.00,47.78,-121.32,6210.00,871200.00

In [25]:
for col in (['condition', 'grade', 'floors', 'view', 'waterfront', 'yr_renovated']):
    display(house_df.groupby(col).size())

condition
1       29
2      170
3    14020
4     5677
5     1701
dtype: int64

grade
3        1
4       27
5      242
6     2038
7     8974
8     6065
9     2615
10    1134
11     399
12      89
13      13
dtype: int64

floors
1.0    10673
1.5     1910
2.0     8235
2.5      161
3.0      611
3.5        7
dtype: int64

view
0.0    19422
1.0      330
2.0      957
3.0      508
4.0      317
dtype: int64

waterfront
0.0    19075
1.0      146
dtype: int64

yr_renovated
0.0       17011
1934.0        1
1940.0        2
1944.0        1
1945.0        3
1946.0        1
1948.0        1
1950.0        1
1951.0        1
1953.0        1
1954.0        1
1955.0        3
1956.0        3
1957.0        2
1958.0        3
1959.0        1
1960.0        3
1962.0        2
1963.0        4
1964.0        5
1965.0        4
1967.0        2
1968.0        7
1969.0        4
1970.0        9
1971.0        1
1972.0        3
1973.0        4
1974.0        2
1975.0        5
          ...
1986.0       14
1987.0       14
1988.0       11
1989.0       20
1990.0       22
1991.0       16
1992.0       13
1993.0       12
1994.0       14
1995.0       12
1996.0       11
1997.0       12
1998.0       16
1999.0       15
2000.0       29
2001.0       15
2002.0       17
2003.0       31
2004.0       22
2005.0       29
2006.0       20
2007.0       30
2008.0       15
2009.0       21
2010.0       15
2011.0        9
2012.0        8
2013.0       31
2014.0       73
2015.0       14
Length: 70, dtype: int64

In [24]:
house_df[house_df.duplicated('id', keep = False)]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
93,6021501535,7/25/2014,4.300e+05,3,1.50,1580,5000,1.0,0.0,0.0,...,8,1290,290.0,1939,0.0,98117,47.687,-122.386,1570,4500
94,6021501535,12/23/2014,7.000e+05,3,1.50,1580,5000,1.0,0.0,0.0,...,8,1290,290.0,1939,0.0,98117,47.687,-122.386,1570,4500
313,4139480200,6/18/2014,1.380e+06,4,3.25,4290,12103,1.0,0.0,3.0,...,11,2690,1600.0,1997,0.0,98006,47.550,-122.102,3860,11244
314,4139480200,12/9/2014,1.400e+06,4,3.25,4290,12103,1.0,0.0,3.0,...,11,2690,1600.0,1997,0.0,98006,47.550,-122.102,3860,11244
324,7520000520,9/5/2014,2.320e+05,2,1.00,1240,12092,1.0,NaN,0.0,...,6,960,280.0,1922,1984.0,98146,47.496,-122.352,1820,7460
325,7520000520,3/11/2015,2.405e+05,2,1.00,1240,12092,1.0,0.0,0.0,...,6,960,280.0,1922,1984.0,98146,47.496,-122.352,1820,7460
345,3969300030,7/23/2014,1.650e+05,4,1.00,1000,7134,1.0,0.0,0.0,...,6,1000,0.0,1943,0.0,98178,47.490,-122.240,1020,7138
346,3969300030,12/29/2014,2.399e+05,4,1.00,1000,7134,1.0,0.0,0.0,...,6,1000,0.0,1943,NaN,98178,47.490,-122.240,1020,7138
371,2231500030,10/1/2014,3.150e+05,4,2.25,2180,10754,1.0,NaN,0.0,...,7,1100,1080.0,1954,0.0,98133,47.771,-122.341,1810,6929
372,2231500030,3/24/2015,5.300e+05,4,2.25,2180,10754,1.0,0.0,0.0,...,7,1100,1080.0,1954,0.0,98133,47.771,-122.341,1810,6929
717,8820903380,7/28/2014,4.520e+05,6,2.25,2660,13579,2.0,0.0,0.0,...,7,2660,0.0,1937,1990.0,98125,47.714,-122.286,1120,8242
718,8820903380,1/2/2015,7.300e+05,6,2.25,2660,13579,2.0,0.0,0.0,...,7,2660,0.0,1937,1990.0,98125,47.714,-122.286,1120,8242
823,726049190,10/2/2014,2.875e+05,3,1.00,1810,7200,1.0,0.0,0.0,...,7,1130,680.0,1954,0.0,98133,47.749,-122.351,1810,8100
824,726049190,2/18/2015,4.310e+05,3,1.00,1810,7200,1.0,NaN,0.0,...,7,1130,680.0,1954,0.0,98133,47.749,-122.351,1810,8100
836,8682262400,7/18/2014,4.300e+05,2,1.75,1350,4003,1.0,0.0,0.0,...,8,1350,0.0,2004,0.0,98053,47.718,-122.033,1350,4479
837,8682262400,5/13/2015,4.200e+05,2,1.75,1350,4003,1.0,0.0,0.0,...,8,1350,0.0,2004,0.0,98053,47.718,-122.033,1350,4479
1084,9834200885,7/17/2014,3.600e+05,4,2.50,2080,4080,1.0,0.0,0.0,...,7,1040,1040.0,1962,0.0,98144,47.572,-122.290,1340,4080
1085,9834200885,4/20/2015,5.500e+05,4,2.50,2080,4080,1.0,0.0,0.0,...,7,1040,1040.0,1962,0.0,98144,47.572,-122.290,1340,4080
1127,8062900070,9/9/2014,2.720e+05,5,1.50,2550,6300,1.0,0.0,0.0,...,7,1560,990.0,1959,0.0,98056,47.501,-122.172,1380,6300
1128,8062900070,2/13/2015,3.690e+05,5,1.50,2550,6300,1.0,0.0,0.0,...,7,1560,990.0,1959,NaN,98056,47.501,-122.172,1380,6300
1200,1231000510,9/22/2014,2.630e+05,3,1.75,1490,3800,1.0,0.0,0.0,...,6,700,790.0,1913,0.0,98118,47.555,-122.270,2180,4000
1201,1231000510,5/4/2015,5.100e+05,3,1.75,1490,3800,1.0,0.0,0.0,...,6,700,790.0,1913,0.0,98118,47.555,-122.270,2180,4000
1232,6117501820,6/18/2014,2.503e+05,2,1.00,790,11234,1.0,0.0,0.0,...,6,790,0.0,1942,0.0,98166,47.441,-122.349,1930,11871
1233,6117501820,4/28/2015,4.350e+05,2,1.00,790,11234,1.0,0.0,0.0,...,6,790,0.0,1942,0.0,98166,47.441,-122.349,1930,11871
1448,2228900270,8/12/2014,2.150e+05,2,1.00,1010,6000,1.0,0.0,0.0,...,6,1010,0.0,1944,NaN,98133,47.771,-122.353,1610,7313
1449,2228900270,2/12/2015,3.020e+05,2,1.00,1010,6000,1.0,NaN,0.0,...,6,1010,0.0,1944,0.0,98133,47.771,-122.353,1610,7313
1462,3630120700,5/13/2014,7.570e+05,3,3.25,3190,5283,2.0,0.0,0.0,...,9,3190,0.0,2007,0.0,98029,47.553,-122.002,2950,5198
1463,3630120700,1/7/2015,7.650e+05,3,3.25,3190,5283,2.0,0.0,0.0,...,9,3190,0.0,2007,0.0,98029,47.553,-122.002,2950,5198
1574,7888000390,6/27/2014,1.400e+05,3,1.00,1060,7473,1.0,0.0,0.0,...,7,1060,0.0,1959,0.0,98198,47.370,-122.309,1320,7912
1575,7888000390,4/1/2015,2.350e+05,3,1.00,1060,7473,1.0,0.0,0.0,...,7,1060,0.0,1959,NaN,98198,47.370,-122.309,1320,7912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18219,6751300375,7/2/2014,4.150e+05,3,1.00,1520,9030,1.0,0.0,0.0,...,7,1520,0.0,1956,0.0,98007,47.587,-122.134,1470,8712
18220,6751300375,10/16/2014,5.225e+05,3,1.00,1520,9030,1.0,0.0,0.0,...,7,1520,0.0,1956,NaN,98007,47.587,-122.134,1470,8712
18549,7657000540,9/2/2014,1.650e+05,4,1.00,1220,7980,1.5,0.0,0.0,...,6,1220,0.0,1944,0.0,98178,47.492,-122.237,1210,7920
18550,7657000540,3/4/2015,2.600e+05,4,1.00,1220,7980,1.5,0.0,0.0,...,6,1220,0.0,1944,0.0,98178,47.492,-122.237,1210,7920
18688,3558900590,11/25/2014,3.600e+05,6,1.75,2230,10080,1.0,0.0,0.0,...,7,1390,840.0,1969,0.0,98034,47.709,-122.201,2110,8475
18689,3558900590,3/24/2015,6.925e+05,6,1.75,2230,10080,1.0,0.0,0.0,...,7,1390,840.0,1969,0.0,98034,47.709,-122.201,2110,8475
18690,8121100395,6/24/2014,4.250e+05,4,1.50,1600,6180,1.5,0.0,0.0,...,6,1600,0.0,1946,0.0,98118,47.568,-122.285,1410,6180
18691,8121100395,3/11/2015,6.450e+05,4,1.50,1600,6180,1.5,0.0,0.0,...,6,1600,0.0,1946,0.0,98118,47.568,-122.285,1410,6180
18747,3332000615,10/20/2014,3.100e+05,3,1.00,1330,3740,1.5,0.0,0.0,...,6,1330,0.0,1903,NaN,98118,47.550,-122.274,1330,5053
18748,3332000615,4/22/2015,3.890e+05,3,1.00,1330,3740,1.5,NaN,0.0,...,6,1330,0.0,1903,0.0,98118,47.550,-122.274,1330,5053
18976,7856400300,7/2/2014,1.410e+06,2,2.50,3180,9400,2.0,0.0,4.0,...,10,2610,570.0,1985,0.0,98006,47.562,-122.158,3760,9450
18977,7856400300,3/22/2015,1.510e+06,2,2.50,3180,9400,2.0,0.0,4.0,...,10,2610,570.0,1985,0.0,98006,47.562,-122.158,3760,9450
19194,1901600090,6/26/2014,3.590e+05,5,1.75,1940,6654,1.5,0.0,0.0,...,7,1940,0.0,1953,0.0,98166,47.466,-122.359,2300,9500
19195,1901600090,4/26/2015,3.900e+05,5,1.75,1940,6654,1.5,NaN,0.0,...,7,1940,0.0,1953,0.0,98166,47.466,-122.359,2300,9500
19320,6021500970,5/28/2014,3.450e+05,2,1.00,1080,4000,1.0,0.0,0.0,...,7,1080,0.0,1940,0.0,98117,47.690,-122.387,1530,4240
19321,6021500970,4/7/2015,8.750e+05,2,1.00,1080,4000,1.0,0.0,0.0,...,7,1080,?,1940,NaN,98117,47.690,-122.387,1530,4240
19536,643300040,11/4/2014,4.810e+05,4,1.75,1920,9500,1.0,0.0,0.0,...,7,1470,450.0,1966,0.0,98006,47.568,-122.177,1820,10091
19537,643300040,3/13/2015,7.195e+05,4,1.75,1920,9500,1.0,0.0,0.0,...,7,1470,450.0,1966,0.0,98006,47.568,-122.177,1820,10091
20037,8648900110,5/5/2014,5.550e+05,3,2.50,1940,3211,2.0,0.0,0.0,...,8,1940,0.0,2009,0.0,98027,47.564,-122.093,1880,3078
20038,8648900110,8/26/2014,5.550e+05,3,2.50,1940,3211,2.0,0.0,0.0,...,8,1940,0.0,2009,0.0,98027,47.564,-122.093,1880,3078
20164,7853400250,6/4/2014,6.100e+05,4,3.50,2910,5260,2.0,0.0,0.0,...,9,2910,0.0,2012,0.0,98065,47.517,-121.883,2910,5260
20165,7853400250,2/19/2015,6.450e+05,4,3.50,2910,5260,2.0,0.0,0.0,...,9,2910,0.0,2012,0.0,98065,47.517,-121.883,2910,5260
20596,2724049222,8/2/2014,1.638e+05,2,2.50,1000,1092,2.0,NaN,0.0,...,7,990,10.0,2004,0.0,98118,47.542,-122.271,1330,1466
20597,2724049222,12/1/2014,2.200e+05,2,2.50,1000,1092,2.0,0.0,0.0,...,7,990,10.0,2004,0.0,98118,47.542,-122.271,1330,1466
20653,8564860270,7/8/2014,4.500e+05,4,2.50,2680,5539,2.0,0.0,0.0,...,8,2680,0.0,2013,0.0,98045,47.476,-121.734,2680,5992
20654,8564860270,3/30/2015,5.020e+05,4,2.50,2680,5539,2.0,NaN,0.0,...,8,2680,0.0,2013,0.0,98045,47.476,-121.734,2680,5992
20763,6300000226,6/26/2014,2.400e+05,4,1.00,1200,2171,1.5,0.0,0.0,...,7,1200,0.0,1933,0.0,98133,47.708,-122.342,1130,1598
20764,6300000226,5/4/2015,3.800e+05,4,1.00,1200,2171,1.5,0.0,0.0,...,7,1200,0.0,1933,0.0,98133,47.708,-122.342,1130,1598
21564,7853420110,10/3/2014,5.949e+05,3,3.00,2780,6000,2.0,0.0,0.0,...,9,2780,0.0,2013,0.0,98065,47.518,-121.886,2850,6000
21565,7853420110,5/4/2015,6.250e+05,3,3.00,2780,6000,2.0,0.0,0.0,...,9,2780,0.0,2013,NaN,98065,47.518,-121.886,2850,6000

In [26]:
house_df[house_df.duplicated(keep = False)]

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15]
Index: []

[0 rows x 21 columns]

In [32]:
# house_df['sqft_basement'] = 
house_df['sqft_basement'].unique()

AttributeError: 'Series' object has no attribute 'uniques'

In [27]:
house_df.corr()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,1.000,-0.017,0.001,0.005,-0.012,-0.132,0.019,-0.004,0.012,-0.024,0.008,-0.011,0.022,-1.201e-02,-0.008,-0.002,0.021,-2.701e-03,-0.139
price,-0.017,1.000,0.309,0.526,0.702,0.090,0.257,0.276,0.396,0.036,0.668,0.605,0.054,1.296e-01,-0.053,0.307,0.022,5.852e-01,0.083
bedrooms,0.001,0.309,1.000,0.515,0.578,0.032,0.178,-0.002,0.079,0.026,0.357,0.479,0.156,1.849e-02,-0.154,-0.010,0.132,3.934e-01,0.031
bathrooms,0.005,0.526,0.515,1.000,0.756,0.088,0.503,0.067,0.186,-0.126,0.666,0.687,0.507,5.105e-02,-0.205,0.024,0.225,5.699e-01,0.088
sqft_living,-0.012,0.702,0.578,0.756,1.000,0.173,0.354,0.110,0.283,-0.059,0.763,0.876,0.318,5.566e-02,-0.200,0.052,0.241,7.564e-01,0.184
sqft_lot,-0.132,0.090,0.032,0.088,0.173,1.000,-0.005,0.023,0.075,-0.009,0.115,0.184,0.053,4.513e-03,-0.130,-0.086,0.230,1.448e-01,0.718
floors,0.019,0.257,0.178,0.503,0.354,-0.005,1.000,0.022,0.028,-0.264,0.459,0.524,0.489,3.535e-03,-0.060,0.049,0.126,2.801e-01,-0.011
waterfront,-0.004,0.276,-0.002,0.067,0.110,0.023,0.022,1.000,0.407,0.018,0.087,0.075,-0.026,8.724e-02,0.031,-0.013,-0.040,8.886e-02,0.032
view,0.012,0.396,0.079,0.186,0.283,0.075,0.028,0.407,1.000,0.046,0.250,0.166,-0.055,1.010e-01,0.085,0.006,-0.078,2.796e-01,0.073
condition,-0.024,0.036,0.026,-0.126,-0.059,-0.009,-0.264,0.018,0.046,1.000,-0.147,-0.159,-0.362,-6.186e-02,0.003,-0.015,-0.106,-9.307e-02,-0.003
grade,0.008,0.668,0.357,0.666,0.763,0.115,0.459,0.087,0.250,-0.147,1.000,0.756,0.448,1.667e-02,-0.186,0.114,0.200,7.139e-01,0.121
sqft_above,-0.011,0.605,0.479,0.687,0.876,0.184,0.524,0.075,0.166,-0.159,0.756,1.000,0.424,2.214e-02,-0.262,-0.001,0.345,7.318e-01,0.195
yr_built,0.022,0.054,0.156,0.507,0.318,0.053,0.489,-0.026,-0.055,-0.362,0.448,0.424,1.000,-2.252e-01,-0.347,-0.148,0.410,3.264e-01,0.071
yr_renovated,-0.012,0.130,0.018,0.051,0.056,0.005,0.004,0.087,0.101,-0.062,0.017,0.022,-0.225,1.000e+00,0.070,0.032,-0.072,-2.472e-04,0.004
zipcode,-0.008,-0.053,-0.154,-0.205,-0.200,-0.130,-0.060,0.031,0.085,0.003,-0.186,-0.262,-0.347,6.985e-02,1.000,0.267,-0.564,-2.793e-01,-0.147
lat,-0.002,0.307,-0.010,0.024,0.052,-0.086,0.049,-0.013,0.006,-0.015,0.114,-0.001,-0.148,3.215e-02,0.267,1.000,-0.135,4.868e-02,-0.086
long,0.021,0.022,0.132,0.225,0.241,0.230,0.126,-0.040,-0.078,-0.106,0.200,0.345,0.410,-7.216e-02,-0.564,-0.135,1.000,3.356e-01,0.256
sqft_living15,-0.003,0.585,0.393,0.570,0.756,0.145,0.280,0.089,0.280,-0.093,0.714,0.732,0.326,-2.472e-04,-0.279,0.049,0.336,1.000e+00,0.184
sqft_lot15,-0.139,0.083,0.031,0.088,0.184,0.718,-0.011,0.032,0.073,-0.003,0.121,0.195,0.071,3.852e-03,-0.147,-0.086,0.256,1.835e-01,1.000

In [46]:
house_df['is_renovated'] = house_df['yr_renovated'].map(lambda x: 0 if not x else (0 if math.isnan(x) else 1))

In [47]:
house_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,is_renovated
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,1180,0.0,1955,0.0,98178,47.511,-122.257,1340,5650,0
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,2170,400.0,1951,1991.0,98125,47.721,-122.319,1690,7639,1
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,770,0.0,1933,NaN,98028,47.738,-122.233,2720,8062,0
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,1050,910.0,1965,0.0,98136,47.521,-122.393,1360,5000,0
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,1680,0.0,1987,0.0,98074,47.617,-122.045,1800,7503,0

In [48]:
house_df.corr()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,is_renovated
id,1.000,-0.017,0.001,0.005,-0.012,-0.132,0.019,-0.004,0.012,-0.024,0.008,-0.011,0.022,-1.201e-02,-0.008,-0.002,0.021,-2.701e-03,-0.139,-1.062e-02
price,-0.017,1.000,0.309,0.526,0.702,0.090,0.257,0.276,0.396,0.036,0.668,0.605,0.054,1.296e-01,-0.053,0.307,0.022,5.852e-01,0.083,1.175e-01
bedrooms,0.001,0.309,1.000,0.515,0.578,0.032,0.178,-0.002,0.079,0.026,0.357,0.479,0.156,1.849e-02,-0.154,-0.010,0.132,3.934e-01,0.031,1.763e-02
bathrooms,0.005,0.526,0.515,1.000,0.756,0.088,0.503,0.067,0.186,-0.126,0.666,0.687,0.507,5.105e-02,-0.205,0.024,0.225,5.699e-01,0.088,4.674e-02
sqft_living,-0.012,0.702,0.578,0.756,1.000,0.173,0.354,0.110,0.283,-0.059,0.763,0.876,0.318,5.566e-02,-0.200,0.052,0.241,7.564e-01,0.184,5.083e-02
sqft_lot,-0.132,0.090,0.032,0.088,0.173,1.000,-0.005,0.023,0.075,-0.009,0.115,0.184,0.053,4.513e-03,-0.130,-0.086,0.230,1.448e-01,0.718,5.091e-03
floors,0.019,0.257,0.178,0.503,0.354,-0.005,1.000,0.022,0.028,-0.264,0.459,0.524,0.489,3.535e-03,-0.060,0.049,0.126,2.801e-01,-0.011,3.713e-03
waterfront,-0.004,0.276,-0.002,0.067,0.110,0.023,0.022,1.000,0.407,0.018,0.087,0.075,-0.026,8.724e-02,0.031,-0.013,-0.040,8.886e-02,0.032,7.960e-02
view,0.012,0.396,0.079,0.186,0.283,0.075,0.028,0.407,1.000,0.046,0.250,0.166,-0.055,1.010e-01,0.085,0.006,-0.078,2.796e-01,0.073,9.046e-02
condition,-0.024,0.036,0.026,-0.126,-0.059,-0.009,-0.264,0.018,0.046,1.000,-0.147,-0.159,-0.362,-6.186e-02,0.003,-0.015,-0.106,-9.307e-02,-0.003,-5.538e-02
grade,0.008,0.668,0.357,0.666,0.763,0.115,0.459,0.087,0.250,-0.147,1.000,0.756,0.448,1.667e-02,-0.186,0.114,0.200,7.139e-01,0.121,1.526e-02
sqft_above,-0.011,0.605,0.479,0.687,0.876,0.184,0.524,0.075,0.166,-0.159,0.756,1.000,0.424,2.214e-02,-0.262,-0.001,0.345,7.318e-01,0.195,2.057e-02
yr_built,0.022,0.054,0.156,0.507,0.318,0.053,0.489,-0.026,-0.055,-0.362,0.448,0.424,1.000,-2.252e-01,-0.347,-0.148,0.410,3.264e-01,0.071,-2.028e-01
yr_renovated,-0.012,0.130,0.018,0.051,0.056,0.005,0.004,0.087,0.101,-0.062,0.017,0.022,-0.225,1.000e+00,0.070,0.032,-0.072,-2.472e-04,0.004,1.000e+00
zipcode,-0.008,-0.053,-0.154,-0.205,-0.200,-0.130,-0.060,0.031,0.085,0.003,-0.186,-0.262,-0.347,6.985e-02,1.000,0.267,-0.564,-2.793e-01,-0.147,6.238e-02
lat,-0.002,0.307,-0.010,0.024,0.052,-0.086,0.049,-0.013,0.006,-0.015,0.114,-0.001,-0.148,3.215e-02,0.267,1.000,-0.135,4.868e-02,-0.086,2.791e-02
long,0.021,0.022,0.132,0.225,0.241,0.230,0.126,-0.040,-0.078,-0.106,0.200,0.345,0.410,-7.216e-02,-0.564,-0.135,1.000,3.356e-01,0.256,-6.451e-02
sqft_living15,-0.003,0.585,0.393,0.570,0.756,0.145,0.280,0.089,0.280,-0.093,0.714,0.732,0.326,-2.472e-04,-0.279,0.049,0.336,1.000e+00,0.184,6.223e-04
sqft_lot15,-0.139,0.083,0.031,0.088,0.184,0.718,-0.011,0.032,0.073,-0.003,0.121,0.195,0.071,3.852e-03,-0.147,-0.086,0.256,1.835e-01,1.000,4.380e-03
is_renovated,-0.011,0.118,0.018,0.047,0.051,0.005,0.004,0.080,0.090,-0.055,0.015,0.021,-0.203,1.000e+00,0.062,0.028,-0.065,6.223e-04,0.004,1.000e+00

In [ ]:
house_df['yr_built'], house_df['sqft_living']